<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de IP</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 flex flex-col min-h-screen"
    style="background-image: url('/static/images/body.jpg'); background-size: cover; background-position: center;">
    <!-- Navbar -->
    <nav class="bg-[#4c4c4c] text-white p-4">
        <div class="container mx-auto flex justify-between items-center">
            <a href="/" class="flex items-center">
                <img src="static/images/logo.svg" alt="ToolsDev Logo" class="h-8 w-auto">
            </a>
        </div>
    </nav>

    <!-- Conteúdo Principal -->
    <main class="flex-grow container mx-auto p-6 items-center">
        <div class="bg-white shadow-lg rounded-lg p-8 max-w-2xl mx-auto">
            <h1 class="text-2xl font-semibold mb-6 text-gray-800 text-center">Informações do IP</h1>
            <p class="text-lg mb-4"><strong>IP:</strong> {{.IP}}</p>
            <p class="text-lg mb-4"><strong>Cidade:</strong> {{.City}}</p>
            <p class="text-lg mb-4"><strong>Região:</strong> {{.Region}}</p>
            <p class="text-lg mb-4"><strong>País:</strong> {{.Country}}</p>
            <p class="text-lg mb-4"><strong>CEP:</strong> {{.Postal}}</p>
            <p class="text-lg mb-4"><strong>Fuso horário:</strong> {{.Timezone}}</p>
            <p class="text-lg mb-4"><strong>ISP:</strong> {{.ISP}}</p>

            <!-- Centralizar o botão e adicionar funcionalidade de redirecionamento -->
            <div class="flex justify-center">
                <button
                    class="items-center rounded font-bold p-2 px-4 text-center text-sm transition-all bg-[#646464] text-white hover:bg-[#a2a2a2] focus:bg-[#a2a2a2] active:bg-[#505050] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                    type="button" onclick="window.location.href='/'">
                    Voltar para a Página Inicial
                </button>

            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer class="bg-[#4c4c4c] text-white py-4">
        <div class="container mx-auto text-center">
            <p>&copy; 2024 - ToolsDev. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>

</html>